@use "../../assets/styles/variables" as *;

.search-box {
  padding: 10px;
  &__input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    background-color: $secondary-accent-color;
    border-color: $primary-color;
    color: $primary-font-color;
    font-family: $accent-font;
    &:focus,
    &:active {
      outline: $primary-color;
    }
  }
}
