@use "../../assets/styles/variables" as *;

.home {
  border: 3px solid $primary-color;
  border-radius: 0 10px 10px 0;
  width: 100%;
  background-color: $secondary-accent-color;
  padding: 20px;
  &__header {
    text-align: center;
    margin-bottom: 20px;
    font-family: $accent-font;
  }
  &__content {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
  }
}
