@use "../../assets/styles/variables" as *;

.display-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  &__dropdown {
    padding: 2px;
    font-family: $primary-font;
    margin-left: 10px;
    border-radius: 5px;
  }
}
