.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  &-arrow {
    border: none;
    background: none;
    border-radius: 5px;
  }
  &-arrow__left,
  &-arrow__right {
    height: 50px;
    transition: scale 0.2s;
    &:hover {
      cursor: pointer;
    }
    &:active {
      scale: 0.9;
    }
  }
}
