@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@300;400;500&display=swap");

$primary-font: Montserrat, helvetica;
$secondary-font: Hind, helvetica;

$primary-color: #758467; // Reseda Green
$secondary-color: #819171; // Reseda Green
$tertiary-color: #9caf88; // Olivine
$accent-color: #cbd5c0; // Ash grey
$secondary-accent-color: #dfe6da; // Alabaster
