@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Fauna+One&display=swap");

$primary-font: Cinzel, helvetica;
$secondary-font: "Fauna One", helvetica;
$accent-font: "Cinzel Decorative";
$primary-font-color: #36454f;

$primary-color: #758467; // Reseda Green
$secondary-color: #819171; // Reseda Green
$tertiary-color: #9caf88; // Olivine
$accent-color: #cbd5c0; // Ash grey
$secondary-accent-color: #dfe6da; // Alabaster

$border-bottom: 1px solid $primary-color;
