@use "../../assets/styles/variables" as *;

.nav {
  height: 100vh;
  width: 25vw;
  padding: 10px;
  text-align: center;
  background-color: $tertiary-color;
  border: 3px solid $primary-color;
  border-radius: 10px 0 0 10px;
  &__list {
    height: 50%;
  }
}

@media screen and (min-width: 1250px) {
  .nav {
    width: 20vw;
  }
}

@media screen and (min-width: 2000px) {
  .nav {
    width: 15vw;
  }
}
