@use "../../assets/styles/variables" as *;

.nav {
  height: 100vh;
  width: 25vw;
  padding: 10px;
  text-align: center;
  background-color: $tertiary-color;
  border: 3px solid $primary-color;
  border-radius: 10px 0 0 10px;
  &__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
